In [1]:
import math

def calculate_circle_area(radius):
  area = math.pi * radius**2
  return area

def main():
  radius = float(input("Enter the radius: "))
  area = calculate_circle_area(radius)
  print("Area of circle is",area)

if __name__ == "__main__":
   main()

Enter the radius: 3
Area of circle is 28.274333882308138

In [2]:
def main():
  name = input("Enter the name: ")
  roll_number = input("Enter the roll number: ")
  mark = input("Enter the mark: ")

  print("Name:",name)
  print("Roll number:",roll_number)
  print("Mark:",mark)

if __name__ == "__main__":
  main()

Enter the name: simi
Enter the roll number: 46
Enter the mark: 98
Name: simi
Roll number: 46
Mark: 98

In [3]:
def main():
  numbers = input("Enter the numbers seperated by commas: ").split(',')
  divisible_by_5 = [num.strip() for num in numbers if int(num.strip()) % 5 == 0]
  print(",".join(divisible_by_5))

if __name__ =="__main__":
  main()

Enter the numbers seperated by commas: 12,95,75,63,65,84,80,90,13
95,75,65,80,90

In [4]:
def prime(num):
  if num <= 1:
    return False
  if num <= 3:
    return True
  if num % 2 == 0 or num % 3 ==0:
    return False
    i = 5
    while i * i <= num:
      if num % i == 0 or num % (i+2) == 0:
        return False
        i += 6
        return True

def main():
  num = int(input("Enter a number: "))
  if prime(num):
    print(num, "is a prime number")
  else:
    print(num, "is not a prime number")

if __name__ == "__main__":
  main()

Enter a number: 3
3 is a prime number

In [10]:
def reverse_list(input_list):
  reversed_list = []
  for i in range(len(input_list) -1, -1, -1):
     reversed_list.append(input_list[i])
     return reversed_list

def main():
  input_list = input("Enter the numbers seperated by commas: ").split(',')
  reversed_list = reverse_list(input_list)
  print("Reversed list:", ",".join(reversed_list))

if __name__ == "__main__":
  main()

Enter the numbers seperated by commas: 10,20,30,40,50,60,70,80,90
Reversed list: 90

In [17]:
def print_pattern(rows):
  for i in range(1, rows + 1):
    print("*" * i)

def main():
  rows = 4
  print_pattern(rows)

if __name__ == "__main__":
  main()

*
**
***
****

In [21]:
def find_maximum(num1, num2, num3):
  return max(num1, num2, num3)

def main():
  num1 = float(input("Enter the first number: "))
  num2 = float(input("Enter the second number: "))
  num3 = float(input("Enter the third number: "))

  maximum = find_maximum(num1, num2, num3)
  print("The maximum of the threee numbers is:", maximum)

  if __name__ == "__main__":
    main()

In [24]:
def print_pattern(rows):
  for i in range(1, rows + 1):
    print("*" * i)
  for i in range(rows - 1, 0, -1):
      print("*" * i)

def main():
  rows = 5
  print_pattern(rows)

if __name__ == "__main__":
  main()

*
**
***
****
*****
****
***
**
*